@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background: linear-gradient(
        320deg,
        white 20%,
        skyblue 20%
    );

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    overflow: hidden;
}

.quiz-container{
    background-color: #fff;
    width: 600px;
    border-radius: 10px;
    box-shadow: 6px 6px 10px rgba(0,0,0,0.5);
    font-size: 20px;

    overflow: hidden;
}

.quiz-header{
    padding: 4rem;
}

h2{
    
    text-align: center;
    /* padding-top: 60px; */
}

ul{
    list-style: none;
    padding: 0;
}

li{
    margin-bottom: 10px;
    /* padding: 0 60px; */
}

.btn{
    width: 100%;
    background-color: rgb(11, 107, 216);
    border: 0;
    color: #fff;
    padding: 20px;
    font-size: 25px;
    
}

.btn:hover{
    background-color: orange;
}

.btn:focus{
    background-color: rgb(224, 92, 15);
}